@import url(https://db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue+Regular);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-2{
    flex:2;
}
.flex-1{
    flex:1;
}
.flex-column{
    flex-direction: column;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container{
    max-width: 1230px;
    margin: 0px auto;
}
.container-special{
    max-width: 1500px;
    margin: 0px auto;
}
.text-center{
    text-align: center;
}
a{
    text-decoration: none;
    color: #fff;
}
ul{
    list-style-type: none;
}
ul li a{
    color: black;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.p-none{
   opacity:none;
}
.d-none{
    display:none;
}
.d-special-none{
 display :none;
}

/*//////// dropdown //////////*/

.dropdown .dropbtn{
    font-size: 16px;
    font-weight: bold;
    font-family: inherit;
    border: none;
    color: #fff;
    padding: 8px 16px;
    background-color:transparent;
  }
  .special_dropdown-content, .dropdown-content{
    position: absolute;
    background-color: White;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.263);
    border-radius: 10px;
    font-family: inherit;
    z-index: 1;
    display: none;
  }

  .container-drop{
    display: grid;
    grid-template-columns: 1fr 200px;
    column-gap: 30px;
  }
  .grid-drop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .left-drop ul li {
    width: 100%;
    margin-bottom: 20px;
  }
  .left-drop ul li a p{
    margin-bottom: 0px;
    font-family: "Helvetica Neue Regular";
    font-weight: 100;
  }
  .left-drop{
    padding: 20px 16px;
  }
   .right-drop a.drop_read_btn h5,a.drop_read_btn i{
    color: #1264a3;
    font-weight: 700;
  }
  .right-drop{
    background-color: #f4ede4;
    padding: 10px  20px 20px 20px;
    margin-left: -30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .container-drop ul{
    list-style-type: none;
  }
  .container-drop a{
    text-decoration: none;
    color: black;
  }
  .container-drop p {
    font-size: 15px;
    font-family: "Helvetica Neue Regular";
    font-weight: 100;
  }
  .container-drop a h5{
    color: #696969;
    font-size: 15px;
    font-family: "Helvetica Neue Regular";
    font-weight: 100;
  }
  .left-drop ul li a:hover p{
    color:#1264a3;
    text-decoration: underline;
  }
  .left-drop ul li a:hover h5{
    color:#1264a3;
  }
  .right-drop .btn_underline{
    width: 4px;
    height: 2px;
    margin-top: -17px;
    background-color: #1264a3;
    opacity: 0;
    transition: all .3s ease-in;
  }
  .right-drop .div{
    display: inline-block;
  }
  .right-drop div:hover .btn_underline{
    width: 100%;
    opacity: 1;
  }
  .right-drop .div-2 a:hover{
    color: #1264a3;
    text-decoration: underline;
  }

  .right-drop p,.right-drop h4{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
  }
 
  .dropdown .icon-2,.special_dropdown .icon-2{
    display: none;
  }
  .dropdown:active .icon-1,.special_dropdown:active .icon-1{
    display: none;
  }
  .dropdown:active .icon-2,.special_dropdown:active .icon-2{
    display: inline;
  }
/*//// slack services (common code used in reviews section) ////*/
.content__side {
    padding-top: 50px;
    }
    .content__side h1{
        font-size: 50px;
    }
    .content__side p{
        font-size: 18px;
        color: black;
        margin: 20px 0px;
        line-height: 1.7rem;
        font-family:  Helvetica;
    }
    .content__side a{
        color: rgb(16, 88, 190);
        font-size: 18px;
    }
    .content__side button{
    background-color: transparent;
    border: none;
    }
    .content__side hr{
       height: 3px;
       background-color: rgb(16, 88, 190);
       width: 20px;
       opacity: 0;
    }
    .content__side button:hover hr{
        width: 100%;
        opacity: 1;
        transition: all .4s ease-in;
    }
